.App {
  text-align: center;
  /* background-image: url(https://th.bing.com/th/id/OIP.B3EQhrzHPGIdVR16t8xg_gHaEK?rs=1&pid=ImgDetMain); */
}

h1{
  margin: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
p{
  font-style: italic;
  font-size: 20px;
}
button{
  background-color: greenyellow;
  border: none;
  border-radius: 7%;
}
